@font-face {
  font-family: multicolore;
  src: url("./font/Multicolore-Regular.ttf");
}

@font-face {
  font-family: colight;
  src: url("./font/Co Text Corp Light.ttf");
}

body{
  background-color: #EAEAEA !important;
  font-family: multicolore !important;
}

header{
  width: 100%;
  height: 80px;
  background-color: white;
  color: #3D5A80;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

#mainContent{
  width: 1200px;
  margin: auto;
}

#menu{
  height: 550px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#burrito{
  height: 570px;
  background-image: url('./images/burrito.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nav-tabs{
  width: 95%;
  margin: auto;
}

.nav-tabs a{
  color: black;
  font-size: 24px;
  opacity: 0.3;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  padding-left: 19px !important;
  padding-right: 19px !important;
}

.nav-tabs .active a{
  opacity: 1;
  background-color: #D77A61 !important;
  color: white !important;
}

.headline{
  text-align: center;
  margin-bottom: 16px;
  color: #3D5A80;
  font-size: 30px;
  font-weight: bold;
}

#options{
  height: 300px;
  padding: 30px;
  font-family: colight;
}

.option{
  margin: 24px 0;
  color: black;
}

.option span{
  font-size: 24px !important;
  color: rgba(0,0,0,0.87) !important;
  font-weight: lighter;
}

.ingredients{
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rice{
  z-index: 0;
  width: 130%;
  height: 130%;
}

.bean{
  z-index: 1;
  width: 130%;
  height: 130%;
}

.filling{
  z-index: 2;
}

.topping{
  z-index: 3;
}

#bag{
  padding: 20px;
  font-family: colight;
}

.chip{
  font-size: 20px !important;
  height: 44px !important;
  padding: 5px 12px !important;
  border-radius: 20px !important;
  margin:0 8px 16px 8px !important;
}

#checkout{
  margin: 30px 0 80px 0;
  font-size: 24px;
  width: 100%;
  background-color: #D77A61;
  color: #223843;
  font-family: multicolore !important;
}
